.*
!/.gitignore
!/.gitmodules
out
.build
*.lib
*.pdb
*.res
*.a
*.exe
*.dll
*.so
src/bindings/taglib/taglib
src/bindings/ffmpeg/libavcodec
src/bindings/ffmpeg/libavformat
src/bindings/ffmpeg/libavutil
src/bindings/ffmpeg/libswresample
src/bindings/ffmpeg/libswscale
src/thirdparty/odin-imgui/*
